.parent-demo{
    background: #f8f9fa;
    border: 2px solid #6f757d;
    padding: 20px;
    border-radius: 8px;
}

/* 자손 선택자 (공백) */
.parent-demo p {
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    color: #232fd4;
    background: #b6cfe0;    
}

/* 자식 선택자 (>)
    - .parent-demo의 직접 자식 p만 선택
*/
.parent-demo > p {
    color: red;
    background: #cea8ae;
    font-weight: bold; 
}

.group-demo h4,
.group-demo h5,
.group-demo h6 {
    color: #8e24aa;
    margin: 10px 0;
    padding-left: 10px;
    border-left: 3px solid #8e24aa
}

.btn {
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    background: #77828a;
    color: #2c3e50;
    transition: all 0.3s;
}

.btn.primary {
    background: #3498db;
    color: white;
}

.btn.danger {
    background: #e74c3c;
    color: white
}

.btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}