.container{
    display: grid;
    grid-template-rows: repeat(3,100px);    /* 3x3 matrix */
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    "header header header"      /* 1행: header 전체 */
    "main   main   aside"       /* 2행: main 2열, aside 1열 */
    "footer footer footer";     /* 1행: footer 전체 */
    gap: 1px;
}

header{
    grid-area:header;
    background: #ff6b6b;
}

main{
    grid-area:main;
    background: #fece57;
}

aside{
    grid-area:aside;
    background: #48dbfb;
}

footer{
    grid-area:footer;
    background: #1dd1a1;
}

header, main, aside, footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color:white;
    border: 1px solid black;
}