.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,150px);
    gap: 20px 10px;
}

.item{
    border: 10px solid red;
    background: rgb(226, 235, 113);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}