.container{
    display: grid;
    grid-template-rows: repeat(4, 100px);   /* 4행 : 각 100px의 높이 */
    grid-template-columns: repeat(3, 1fr);  /* 3열, 균등 분할 */
    width: 600px;
    border: 4px solid lightgray;
}

.item{
    border: 10px solid red;
    background: rgba(255, 255, 255, 0.7);
    font-size: 30px;
}

.item:nth-child(1){
    /*grid-column: 1/3;   /* column line: 1~3 -> 2칸을 차지 */
    /*grid-column: 1/-1; */
    grid-row: 1/3;
    grid-column: 1/3;
}
