.container{
    display:grid;
    width: 300px;
    border: 4px solid lightgray;
    grid-template-rows: 100px 200px;    /* 첫번째 행: 100px, 두번째 행: 200px, 세번째 행: content 크기 */
}

.item{
    border: 2px dashed red;
}