.container{
    display:grid;
    width: fit-content;
    border: 4px solid lightgray;
    grid-template-columns: 200px 200px;     /* 첫번째 행: 100px, 두번째 행: 200px, 세번째 행: content 크기 */
    grid-template-rows: 100px 100px;
}

.item{
    border: 2px dashed red;
}