.container{
    display: grid;
    grid-template-rows: repeat(4,100px);    /* 3x3 matrix */
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    "header header header"      /* 1행: header 전체 */
    "main . ."                  /* 2행: main 1열, 빈 셀 2개 */
    "main . aside"              /* 3행: main 1열, 빈셀, aside */
    "footer footer footer";     /* 4행: footer 전체 */

}

header{
    grid-area:header;
    background: #ff6b6b;
}

main{
    grid-area:main;
    background: #fece57;
}

aside{
    grid-area:aside;
    background: #48dbfb;
}

footer{
    grid-area:footer;
    background: #1dd1a1;
}

header, main, aside, footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color:white;
}