*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    padding: 30px;
    background: rgb(255, 255, 255);
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    font-weight: bold;
    margin-bottom: 40px;

}

.grid-container{
    display: grid;
    grid-template-columns:200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px 200px;
    max-width: 1200px;
    max-height: 100vh;
    text-align: center;
    justify-content: center;
    padding: 50px;
    gap: 2px;
    background: rgb(84, 84, 182);
    border-radius: 8px;
    border:5px solid rgb(151, 90, 90)
}
label{
    display: block;
    font-size: 40px;
    margin-right: 5px;
    border: 2px solid yellow;
    border-radius: 8px;
}
.id{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.pw{
    font-size: 30px;
    text-align: center;
}
.title{
    grid-column: 1/-1;
    border: 5px dashed rgb(70, 69, 69);
}

form{
    grid-column: 2/4;
    grid-row: 2/5;
    display: grid;
    padding: 15px;
    justify-content: center;
    align-items: center;
    border: 2px solid yellow;

}

.btn{
    margin: 75px;
    grid-column: 2/4;
    grid-row: 5/6;
    border: 5px solid rgb(48, 236, 205);
    cursor: pointer;
    transition: 1.5s;
}
.btn:hover{
    color: rgb(201, 48, 48);
    font-size: larger;
    transform: scale(1.5);
}