.container{
    display: grid;
    grid-template-rows: [grid-row-start] 1fr 1fr [grid-row-end] ;     /* 2행 생성 --> 라인: 1,2,3 */
    grid-template-columns: 1fr [grid-column-start] 1fr 1fr [grid-column-end] ;  /* 3열 생성 --> 라인: 1,2,3,4 */
    width: 400px;
    height: 200px;
    border: 4px solid lightgray;
}

.item{
    border: 2px dashed red;
    background: rgba(255, 127, 80, 0.7);
}

.item:nth-child(1){  /* 첫번째 .item 요소 선택 (container의 1번째 자식) */
    /* grid-row: grid-row-start / grid-row-end;
    grid-column: grid-column-start / grid-column-end; */
    grid-row-start: 1;      /* 행: 1번 라인에서 시작 */
    grid-row-end: 3;        /* 행: 3번 라인에서 끝 => 2개 행 차지 */
    grid-column-start: 2;   /* 열: 2번 라인에서 시작 */
    grid-column-end: 4;     /* 열: 4번 라인에서 끝 => 2개 열 차지 */
    /* 결과 : 2행 * 2열 = 4칸 차지 */
}